<div>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
      <h3>
        Nathan's Dev Blog
      </h3>
    </div>
    <div class="navbar-end">
      <a href="/" class="navbar-item">
        Home
      </a>
  
      <a href="/about" class="navbar-item">
        About Me
      </a>
  
      <a href="/posts" class="navbar-item">
        Posts
      </a>
    </div>
  </nav>
</div>
