<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/bundle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <div class="blog-container">
      {% include "nav.liquid" %}
      <header class="grid-center">
        <h1 class="post-title">{{ title }}</h1>
      </header>
      <main class="grid-center">
        {{ content }}
      </main>
  </div>
</body>
</html>