---
layout: layouts/base.liquid
---

<article>
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="content mt-5">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</article>